@model Contact  
@*This View Uses Contact.cs class*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact Detail Page";
}
<h1>Contact Detail Page</h1>

<table class="table table-bordered table-striped">
    <tr>
        <!--Model razor below allows me to access the model object created from the Contact.cs class.
            Below the razor code is used to get the data from the ContactId property. -->
        <td>ID</td>
        <td>@Model.ContactId</td>
    </tr>
    <tr>
        <!-- Below the razor code is used to get the data from the ContactId property.-->
        <td>First Name: </td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <!-- Below the razor code is used to get the data from the LastName property.-->
        <td>Last Name: </td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <!-- Below the razor code is used to get the data from the Phone property.-->
        <td>Phone: </td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <!-- Below the razor code is used to get the data from the Email property.-->
        <td>Email: </td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <!-- Below the razor code is used to get the data from the Organization property.-->
        <td>Organization: </td>
    </tr>
    <tr>
        <!-- Below the razor code is used to get the data from the Date property.-->
        <td>Date Created: </td>
    </tr>
</table>

