@model IEnumerable<Contact>      
@*This view begins by using the @model directive to specify that the model for this view is a collection of the contact objects
    which is passed to this view by the Index() method in the HomeController.cs class*@
@{
    ViewBag.Title="Contact Manager";
}


<!--The HTML of this view displays the table of a contact data
    Above the table there will be a link requests for Add() action method to add contact-->
<a asp-action="Add" asp-controller="Contact"
   class="ml-2">Add New Contact</a>

<table class="table mt-2">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        @foreach ( Contact contact in Model)    //Using Model to access the data passed in to this view from line 1.
            {
        <tr>
            <!--Go to Details action in the Contact Controller using id as the Reoute value to see the contact-->
            <td>
                <a asp-action="Details" asp-controller="Contact" asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug">
                    @contact.FirstName
                </a>
            </td>

            <td>
                <!--Go to Details action in the Contact Controller using id as the Reoute value to see the contact-->
                <a asp-action="Details" asp-controller="Contact" asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug">
                    @contact.LastName
                </a>
            </td>

            <td>@contact.Phone</td>
            <td>@contact.Email</td>
            <td>@contact.Category.Name</td>
        </tr>
            }
    </tbody>
</table>
